








.hit {
    position: relative;
    bottom: -5px;
    left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.line {
    margin-top: 15px;
    margin-bottom: 3px;
    border-radius: 132px 20px 266px 132px;
    height: 5px;
}

.textabout {
    margin: 0 auto;
    border-radius: 2px;
}

.author {
    border-radius: 199px 20px 266px 132px;
    background-image: url("../images/authorBackground.png");
    line-height: 1.8;
    position: relative;
    font-style: italic;
    padding-left: 5px;
    font-size: 9px;
    width: 210px;
    display: inline-block;
    height: 14px;
    padding-right: 13px;
    text-align: right;
    margin-top: 5px;
    right: 212px;
}

.footerFonts {
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.imgFooter {
    text-align: center;
    position: relative;
    top: -8px;
}

.footDamage {
    font-weight: bold;
    position: relative;
    top: 2px;
}

.damage {
    padding-left: 25px;
}

.footerText {
    position: relative;
    top: -5px;
    font-size: 10px;
}

.cornerCircle {
    position: relative;
    top: -13px;
    right: -58px;
}

.rightText {
    text-align: right;
    position: relative;
    top: -6px;
    font-size: 11px;
    font-weight: bold;
    right: -38px;
}

.centerText {
    position: relative;
    left: 43px;
    font-size: 9px;
}

.leftText {
    font-weight: bold;
    font-size: 9px;

}

.plus {
    position: relative;
    font-size: 16px;
    left: 7px;
    top: 6px;
}




.textAboutPokemon {
    font-style: italic;
    font-size: 12px;
}


.energyBar {
    position: relative;
    top: -6px
}


