body {
  background-color: #ffffff;
}

.card {
  box-shadow: inset 0 0 10px #000000;
  background-color: deepskyblue;
  margin: 50px;
  border: 15px solid gold;
  border-radius: 15px;
  height: 610px;
  width: 450px;
  font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;

  .header {
    font-weight: bold;

    .name {
      font-size: 2em;
    }

    .levelLabel {
      font-size: 12px;
    }

    .levelValue {
      position: relative;
      right: 3px;
      font-size: 15px;
    }

    .leftSide {
      text-align: right;

      .hpValue {
        font-size: 2em;
        position: relative;
        top: 3px;
      }

      img {
        position: relative;
        top: -3px;
        height: 30px;
        width: 30px
      }

    }

  }

  .picture {
    box-shadow: inset 0 0 10px #000000;
    position: relative;
    margin: 0 auto;
    border: 8px solid lightgray;
    border-bottom-width: 0;
    background-image: url('../images/mainImage.png');
    width: 400px;
    height: 253px;

    .cardType {
      position: absolute;
      left: -14px;
      top: -10px;
      padding-left: 10px;
      font-weight: bold;
      font-size: 13px;
      display: inline-block;
      border-radius: 132px 20px 136px 1px;
      background-image: url("../images/backgroundLine.png");
      width: 85px;
      line-height: 1.7;
      height: 19px;
    }

    .description {
      position: absolute;
      left: -11px;
      bottom: -10px;
      text-align: center;
      font-size: 10px;
      margin: 0 auto;
      width: 404px;
      height: 18px;
      font-style: italic;
      line-height: 2;
      border-radius: 175px 20px 266px 132px;
      background-image: url("../images/backgroundLine.png");
    }

  }

  .atackArea {

    .title {
      font-weight: bold;
      font-size: 23px;
      position: relative;
      left: -20px;
    }

    .firstAtack {
      margin-top: 15px;
      padding-top: 4px;

      img {
        position: relative;
        top: 5px;
        height: 23px;
        width: 23px
      }

      .atackDescription {
        position: relative;
        top: -2px;
        font-size: 14px;
        padding-right: 0;
      }

    }

    .secondAtack {
      position: relative;
      top: -5px;
      margin-top: 15px;

      .hit {
        position: relative;
        bottom: -5px;
        left: 10px;
        font-weight: bold;
        font-size: 20px;
      }

      .plus {
        position: relative;
        font-size: 16px;
        left: 7px;
        top: 6px;
      }

      img {
        height: 23px;
        width: 23px
      }

      .iconType {
        position: relative;
        top: -3px;
        right: -1px;
        width: 17px;
        height: 17px
      }

    }

  }

  .textAboutPokemon {
    font-style: italic;
    font-size: 12px;

    img {
      margin-top: 15px;
      margin-bottom: 3px;
      border-radius: 132px 20px 266px 132px;
      height: 5px;
      width: 335px
    }
  }

  .author {

    span {
      border-radius: 199px 20px 266px 132px;
      background-image: url("../images/authorBackground.png");
      line-height: 1.8;
      position: relative;
      font-style: italic;
      padding-left: 5px;
      font-size: 9px;
      width: 210px;
      display: inline-block;
      height: 14px;
      padding-right: 13px;
      text-align: right;
      margin-top: 5px;
      right: 212px;
    }

  }

  .footer {
    font-weight: bold;

    .footerTitle {
      position: relative;
      top: -6px;
      margin-top: 5px;
      text-align: center;
      font-size: 10px;
    }
    .footerBody {
      text-align: center;
      position: relative;
      top: -8px;

      .typeDamage {
        padding-left: 39px;

        span {
          position: relative;
          top: 2px;
        }

      }

      img {
        height: 20px;
        width: 20px
      }

    }

    .footerLastLine {
      position: relative;
      top: -5px;
      font-size: 10px;
      font-weight: bold;

      .centerText {
        position: relative;
        left: 43px;
        font-size: 9px;
        font-weight: normal;
      }

      .leftText {
        font-size: 9px;
      }

      .rightText {
        text-align: right;
        position: relative;
        top: -1px;
        font-size: 11px;
        right: -38px;
      }

      img {
        position: relative;
        top: -7px;
        right: -58px;
        height: 20px;
        width: 20px
      }

    }

  }
}

